.menu-content { 
    background-color: rgb(162, 201, 211);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.lunch-menu-items { 
    background-color: rgb(2, 105, 128);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.lunch-text { 
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    font-family: cursive;
}

.opis-obiad {
    background-color: rgb(178, 205, 231);
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.menu-item {
    margin: 20px 0;
    text-align: center;
    max-width: calc(50% - 40px);
    box-sizing: border-box;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    color: rgb(24, 73, 88);
    font-size: 35px;
  }

  .menu-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; 
  }

  .menu-item img:hover {
    transform: scale(1.1); box-shadow: 0 0 20px 0 rgba(0, 4, 255, 0.7);
  }

  .sanrio-kuromi-mymelody-rice-text { 
    color: rgb(6, 0, 11);
    font-family: 'Lobster'
  }

  .sanrio-hello-kitty-bento-text { 
    color: rgb(6, 0, 11);
    font-family: 'Lobster'
  }

  .anime-pokemon-pikachu-rice-text{ 
    color: rgb(6, 0, 11);
    font-family: 'Lobster'
  }

  .sario-friends-bento-text { 
    color: rgb(6, 0, 11);
    font-family: 'Lobster'
  }
  
  .sanrio-penguin-rice-text{ 
    color: rgb(6, 0, 11);
    font-family: 'Lobster'
  }

  .sanrio-rice-on-sticks { 
    color: rgb(6, 0, 11);
    font-family: 'Lobster'
  }